Sprint 3 Tarea 5

In [1]:
!pip install pandas
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in ./opt/anaconda3/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in ./opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in ./opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in ./opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
#Ejercicio1

In [3]:
df= pd.read_csv('DelayedFlights.csv', index_col=0)

/Users/solwei/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [6]:
flights_df= df.drop("TailNum", axis=1)
flights_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [7]:
#Ejercicio 2
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1936758 entries, 0 to 7009727
Data columns (total 28 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  ActualElapsedTime  float64
 11  CRSElapsedTime     float64
 12  AirTime            float64
 13  ArrDelay           float64
 14  DepDelay           float64
 15  Origin             object
 16  Dest               object
 17  Distance           int64
 18  TaxiIn             float64
 19  TaxiOut            float64
 20  Cancelled          int64
 21  CancellationCode   object
 22  Diverted           int64
 23  CarrierDelay       float64
 24  WeatherDelay       float64
 25  NASDelay           float64
 26  SecurityDelay      float64
 27  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(4)
memory usage: 428.5+ MB

In [8]:
flights_df.isnull().sum()

Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [9]:
#Average Flight Speed: Distance/Airtime. 
#Primero eliminamos las filas vacias de Airtime (distancia no tiene filas vacias)
flights_df.dropna(subset=["AirTime"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [10]:
#Creamos una columna nueva con esta informaciÃ³n.
flights_df["AvFlightSpeed"]= flights_df["Distance"] / flights_df["AirTime"]

#comprobamos
ave_flight_speed= flights_df[["Distance", "AirTime", "AvFlightSpeed"]]
ave_flight_speed.head()

   Distance  AirTime  AvFlightSpeed
0       810    116.0       6.982759
1       810    113.0       7.168142
2       515     76.0       6.776316
4       515     77.0       6.688312
5       688     87.0       7.908046

In [11]:
#Para la columna de "OnTime", vamos a comprobar si hay diferencia entre arrival time vs CRS/Scheduled arrival time.
flights_df.dropna(subset=["ArrTime"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,AvFlightSpeed
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN,6.982759
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,7.168142
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN,6.776316
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0,6.688312
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,7.908046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0,7.550000
7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,...,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0,6.166667
7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0,5.647541
7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN,5.988764
7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN,8.403846

In [12]:
flights_df["OnTime"]= flights_df["ArrTime"] - flights_df["CRSArrTime"]
On_Time= flights_df[["ArrTime", "CRSArrTime", "OnTime"]]
On_Time.head()
#Si es cero, llegÃ³ a tiempo. Si es positivo, llegÃ³ tarde.

   ArrTime  CRSArrTime  OnTime
0   2211.0        2225   -14.0
1   1002.0        1000     2.0
2    804.0         750    54.0
4   1959.0        1925    34.0
5   2121.0        2110    11.0

Para continuar explorando la puntualidad de los vuelos. Podemos ver:
i) La distribucion de llegadas tardes
ii) La relacion de llegadas tardes segun salidas tardes.

![](imagen2.png)

![](Imagen4.png)

In [13]:
flights_df.groupby("UniqueCarrier").OnTime.sum()
#Los que tuvieron mÃ¡s demora fueron: MQ(3761306), EV (2040979), OO(1292562) y 9E (818754).

UniqueCarrier
9E     818754.0
AA   -9351514.0
AQ      -3426.0
AS    -575216.0
B6   -7072299.0
CO   -7221532.0
DL   -3444621.0
EV    2040979.0
F9   -2602548.0
FL   -2785254.0
HA    -213235.0
MQ    3761306.0
NW   -2010745.0
OH      -6425.0
OO    1292562.0
UA   -5603314.0
US   -3733370.0
WN   -7606220.0
XE   -1516440.0
YV    -551591.0
Name: OnTime, dtype: float64

Llegadas tardes segun la aerolinea
![](Imagen3.png)

In [14]:
flights_df.groupby(["UniqueCarrier"])["OnTime"].sum()

UniqueCarrier
9E     818754.0
AA   -9351514.0
AQ      -3426.0
AS    -575216.0
B6   -7072299.0
CO   -7221532.0
DL   -3444621.0
EV    2040979.0
F9   -2602548.0
FL   -2785254.0
HA    -213235.0
MQ    3761306.0
NW   -2010745.0
OH      -6425.0
OO    1292562.0
UA   -5603314.0
US   -3733370.0
WN   -7606220.0
XE   -1516440.0
YV    -551591.0
Name: OnTime, dtype: float64

In [15]:
#Vuelo mas largo= ordenar de mayor a menor la columna "Actual elapsed time"
flights_df.sort_values(by='ActualElapsedTime', ascending=False)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,AvFlightSpeed,OnTime
5180146,2008,9,9,2,1411.0,920,545.0,1215,HA,21,...,0,N,0,1040.0,0.0,0.0,0.0,10.0,2.453712,-670.0
6980183,2008,12,19,5,1407.0,1335,2217.0,1935,CO,15,...,0,N,0,0.0,32.0,130.0,0.0,0.0,7.826498,282.0
3922427,2008,7,23,3,1727.0,1645,323.0,2033,DL,151,...,0,N,0,0.0,0.0,368.0,0.0,42.0,7.473988,-1710.0
4811552,2008,8,2,6,1808.0,1335,38.0,1810,CO,15,...,0,N,0,0.0,12.0,115.0,0.0,261.0,8.311558,-1772.0
4614554,2008,8,19,2,1547.0,1230,717.0,2105,HA,28,...,0,N,0,612.0,0.0,0.0,0.0,0.0,3.652115,-1388.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7006289,2008,12,10,3,1459.0,1447,NaN,1650,DL,1706,...,1,A,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7006401,2008,12,11,4,1355.0,1106,7.0,1950,DL,26,...,0,N,1,NaN,NaN,NaN,NaN,NaN,NaN,-1943.0
7006809,2008,12,11,4,1026.0,955,NaN,1219,DL,892,...,1,A,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7007034,2008,12,11,4,1527.0,1520,2106.0,1708,DL,1102,...,0,N,1,NaN,NaN,NaN,NaN,NaN,NaN,398.0
7008584,2008,12,12,5,703.0,630,NaN,734,DL,1372,...,1,B,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#Mas demoras= ordenar de mayor a menor la columna "Arrival delay"
flights_df.sort_values(by='ArrDelay', ascending=False)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,AvFlightSpeed,OnTime
1018798,2008,2,3,7,1117.0,1820,2256.0,555,NW,808,...,0,N,0,1455.0,0.0,4.0,0.0,1002.0,9.089245,1701.0
2235378,2008,4,10,4,724.0,1417,858.0,1605,NW,1699,...,0,N,0,2436.0,0.0,0.0,0.0,17.0,7.045455,-747.0
2832617,2008,5,6,2,2.0,1530,254.0,1823,NW,1107,...,0,N,0,1951.0,0.0,0.0,0.0,0.0,7.482759,-1569.0
3387883,2008,6,20,5,2140.0,1710,2252.0,1825,MQ,3538,...,0,N,0,1707.0,0.0,0.0,0.0,0.0,6.080000,427.0
6857047,2008,12,19,5,1602.0,1325,1921.0,1546,NW,357,...,0,N,0,1307.0,0.0,58.0,0.0,290.0,5.854167,375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7006289,2008,12,10,3,1459.0,1447,NaN,1650,DL,1706,...,1,A,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7006401,2008,12,11,4,1355.0,1106,7.0,1950,DL,26,...,0,N,1,NaN,NaN,NaN,NaN,NaN,NaN,-1943.0
7006809,2008,12,11,4,1026.0,955,NaN,1219,DL,892,...,1,A,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7007034,2008,12,11,4,1527.0,1520,2106.0,1708,DL,1102,...,0,N,1,NaN,NaN,NaN,NaN,NaN,NaN,398.0
7008584,2008,12,12,5,703.0,630,NaN,734,DL,1372,...,1,B,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#Ejercicio 3: exportado y subido a Github
flights_df.to_csv("cleanflights.csv")